<html>
    <head>
        <title>
           Home Page
        </title>
    </head>
    <body>
        <h2>HTML FORM</h2>
        <form action="/submit" method="post">
            <label for="Science">Science</label><br>
            <input type="text" id="science" value="0" name="science"><br>
            <label for="Maths">Maths</label><br>
            <input type="text" id="maths" value="0" name="maths"><br>
            <label for="Data">Maths</label><br>
            <input type="text" id="data" value="0" name="data"><br>
            <label for="social">Maths</label><br>
            <input type="text" id="social" value="0" name="social"><br>
            <input type="submit" value="submit">
        </form>

        <p>
            if you click the submit button form will get sent to paragraph
        </p>
    </body>
</html>